body{
    margin: 0;
}
.navbar{
    background-color: yellow;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;  
}
.navbar ul{
    display: flex;
    gap: 30px;
    list-style: none;
}
.hero{
    height: 100vh;
    background-image: url(hero.png);
    background-size: cover;
}
.content{
    background-image: url(image.jpg);
    
    height: 50vh;
    background-repeat: no-repeat;
}